**Valores Faltantes**

In [1]:
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn import preprocessing

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

plt.style.use('bmh')

**1. Pandas:**

In [10]:
#Datos
df = pd.read_csv('Clientes.csv')
df

    Nombre  Edad  Ingresos
0     Juan  35.0   15800.0
1    Luisa  25.0   17000.0
2      NaN  70.0   20000.0
3   Carmen  49.0   22000.0
4      NaN   NaN       NaN
5    Mario  30.0   15800.0
6    Pedro   NaN   17400.0
7  Gustavo  27.0       NaN
8   Carlos   NaN       NaN

In [3]:
#Isnull
pd.isnull(df)

   Nombre   Edad  Ingresos
0   False  False     False
1   False  False     False
2    True  False     False
3   False  False     False
4    True   True      True
5   False  False     False
6   False   True     False
7   False  False      True
8   False   True      True

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    7 non-null      object
 1   Edad      6 non-null      float64
 2   Ingresos  6 non-null      float64
dtypes: float64(2), object(1)
memory usage: 344.0+ bytes

In [ ]:
#(cont_TRUE/todos)*100<35: borre

In [8]:
#Dropna
df.dropna() #Eliminar TODOS los valores NaN
#df.dropna(subset=['Nombre'])
#df.dropna(subset=['Nombre', 'Ingresos'])

   Nombre  Edad  Ingresos
0    Juan  35.0   15800.0
1   Luisa  25.0   17000.0
3  Carmen  49.0   22000.0
5   Mario  30.0   15800.0

In [12]:
#Fillna
df.fillna(0)

    Nombre  Edad  Ingresos
0     Juan  35.0   15800.0
1    Luisa  25.0   17000.0
2        0  70.0   20000.0
3   Carmen  49.0   22000.0
4        0   0.0       0.0
5    Mario  30.0   15800.0
6    Pedro   0.0   17400.0
7  Gustavo  27.0       0.0
8   Carlos   0.0       0.0

In [17]:
defecto = {'Nombre':'Desconocido', 'Edad':18, 'Ingresos':10000}
df.fillna(value=defecto)

        Nombre  Edad  Ingresos
0         Juan  35.0   15800.0
1        Luisa  25.0   17000.0
2  Desconocido  70.0   20000.0
3       Carmen  49.0   22000.0
4  Desconocido  18.0   10000.0
5        Mario  30.0   15800.0
6        Pedro  18.0   17400.0
7      Gustavo  27.0   10000.0
8       Carlos  18.0   10000.0

In [20]:
#Medidas de Tendencia Central
media = df.mean(numeric_only=True)
media

Edad           39.333333
Ingresos    18000.000000
dtype: float64

In [21]:
df.fillna(value=media)

    Nombre       Edad  Ingresos
0     Juan  35.000000   15800.0
1    Luisa  25.000000   17000.0
2      NaN  70.000000   20000.0
3   Carmen  49.000000   22000.0
4      NaN  39.333333   18000.0
5    Mario  30.000000   15800.0
6    Pedro  39.333333   17400.0
7  Gustavo  27.000000   18000.0
8   Carlos  39.333333   18000.0

In [22]:
mediana = df.median(numeric_only=True)
mediana

Edad           32.5
Ingresos    17200.0
dtype: float64

In [23]:
df.fillna(value=mediana)

    Nombre  Edad  Ingresos
0     Juan  35.0   15800.0
1    Luisa  25.0   17000.0
2      NaN  70.0   20000.0
3   Carmen  49.0   22000.0
4      NaN  32.5   17200.0
5    Mario  30.0   15800.0
6    Pedro  32.5   17400.0
7  Gustavo  27.0   17200.0
8   Carlos  32.5   17200.0

In [25]:
moda = df.mode(numeric_only=True)
moda

   Edad  Ingresos
0  25.0   15800.0
1  27.0       NaN
2  30.0       NaN
3  35.0       NaN
4  49.0       NaN
5  70.0       NaN

In [27]:
df.fillna(value=moda.loc[0, :])

    Nombre  Edad  Ingresos
0     Juan  35.0   15800.0
1    Luisa  25.0   17000.0
2      NaN  70.0   20000.0
3   Carmen  49.0   22000.0
4      NaN  25.0   15800.0
5    Mario  30.0   15800.0
6    Pedro  25.0   17400.0
7  Gustavo  27.0   15800.0
8   Carlos  25.0   15800.0

**2. Scikit Learn:**

In [33]:
df

    Nombre  Edad  Ingresos
0     Juan  35.0   15800.0
1    Luisa  25.0   17000.0
2      NaN  70.0   20000.0
3   Carmen  49.0   22000.0
4      NaN   NaN       NaN
5    Mario  30.0   15800.0
6    Pedro   NaN   17400.0
7  Gustavo  27.0       NaN
8   Carlos   NaN       NaN

In [28]:
#Data
df = pd.read_csv('Clientes.csv')
x = df.iloc[:, 1:].values
x

array([[   35., 15800.],
       [   25., 17000.],
       [   70., 20000.],
       [   49., 22000.],
       [   nan,    nan],
       [   30., 15800.],
       [   nan, 17400.],
       [   27.,    nan],
       [   nan,    nan]])

In [34]:
np.nan

nan

In [36]:
imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0) #Cree un objeto SimpleImputer
imputer.fit_transform(x)

array([[   35., 15800.],
       [   25., 17000.],
       [   70., 20000.],
       [   49., 22000.],
       [    0.,     0.],
       [   30., 15800.],
       [    0., 17400.],
       [   27.,     0.],
       [    0.,     0.]])

In [37]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit_transform(x)

array([[   35.        , 15800.        ],
       [   25.        , 17000.        ],
       [   70.        , 20000.        ],
       [   49.        , 22000.        ],
       [   39.33333333, 18000.        ],
       [   30.        , 15800.        ],
       [   39.33333333, 17400.        ],
       [   27.        , 18000.        ],
       [   39.33333333, 18000.        ]])

In [38]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit_transform(x)

array([[   35. , 15800. ],
       [   25. , 17000. ],
       [   70. , 20000. ],
       [   49. , 22000. ],
       [   32.5, 17200. ],
       [   30. , 15800. ],
       [   32.5, 17400. ],
       [   27. , 17200. ],
       [   32.5, 17200. ]])

In [39]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent') #OBJETO vacío al cual le doy una receta
imputer.fit_transform(x) #Tome los datos x, entrenelos (detecte most_frequent) y reemplace los NaN por most_frequent

array([[   35., 15800.],
       [   25., 17000.],
       [   70., 20000.],
       [   49., 22000.],
       [   25., 15800.],
       [   30., 15800.],
       [   25., 17400.],
       [   27., 15800.],
       [   25., 15800.]])

**3. K-Vecinos: Regresión**

In [ ]:
#Datos
edad = np.array([17,18,18,19,20,21,21,40,41,42,42,43,44,44,45,50,54,60,61,67,67,68,76,79,83])
estudio = np.array([6,6,7,7,8,8,9,10,10,10,11,11,11,11,12,14,16,16,16,16,16,17,19,19,22])
ingreso = np.array([11230,9624,13798,3215,19169,14982,15419,17286,14232,18092,18318,16260,22347,16710,28949,27309,32779,29743,30341,34088,32435,33909,32263,42067,42295])

datos = np.stack((edad, estudio, ingreso), axis=1)
print(datos)

In [ ]:
#Gráficos
fig, ax = plt.subplots(1,1, figsize=(4,4))

ax.scatter(datos.T[0],datos.T[1])
ax.set_xlabel('Edad')
ax.set_ylabel('Estudio')

fig.show()

In [ ]:
#Escalamiento
escalador = preprocessing.MinMaxScaler()
escalados = escalador.fit_transform(datos)
print(escalados)

In [ ]:
#Gráficos
fig, ax = plt.subplots(1,2, figsize=(8,4))

ax[0].scatter(datos.T[0], datos.T[1])
ax[0].set_xlabel('Edad')
ax[0].set_ylabel('Estudio')
ax[0].set_title('Originales')

ax[1].scatter(escalados.T[0], escalados.T[1])
ax[1].set_xlabel('Edad')
ax[1].set_ylabel('Estudio')
ax[1].set_title('Escalados')

fig.show()

In [ ]:
#Datos Faltantes
faltantes = escalados.copy()
faltantes[[2,7,12,17,22], 2] = np.nan
print(faltantes)

In [ ]:
imputer = KNNImputer(n_neighbors=10, weights='uniform')
uni = imputer.fit_transform(faltantes)

imputer = KNNImputer(n_neighbors=10, weights='distance')
dis = imputer.fit_transform(faltantes)

#np.stack((escalados,uni,dis), axis=1)[:, :, 2]

In [ ]:
print(uni)

In [ ]:
print(dis)