**Actividad 1**

In [1]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [2]:
#Datos
datos = {'Nombre' : ['Mariana', 'Ana', 'Elsa', 'Gustavo', 'Pedro', 'Raúl', 'Carlos', 'José', 'Luis'],
          'Saldo' : [10000, 8000, 9000, 2000, 2100, 12000, 5000, 10000, 200],
           'País' : ['Argentina', 'Argentina', 'Ecuador', 'Colombia', 'Argentina', 'Colombia', 'México', 'Perú', 'Perú']}

df = pd.DataFrame(datos)
df

    Nombre  Saldo       País
0  Mariana  10000  Argentina
1      Ana   8000  Argentina
2     Elsa   9000    Ecuador
3  Gustavo   2000   Colombia
4    Pedro   2100  Argentina
5     Raúl  12000   Colombia
6   Carlos   5000     México
7     José  10000       Perú
8     Luis    200       Perú

In [3]:
#Codificación
codificador = OneHotEncoder(sparse=False)
codificacion = codificador.fit_transform(df.loc[:, ['País']])

codificacion

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.]])

In [4]:
#Unir Tablas
nuevas_cols = pd.DataFrame(codificacion, columns=codificador.categories_[0])
df = pd.concat([df.iloc[:, :-1], nuevas_cols], axis=1)
df

    Nombre  Saldo  Argentina  Colombia  Ecuador  México  Perú
0  Mariana  10000        1.0       0.0      0.0     0.0   0.0
1      Ana   8000        1.0       0.0      0.0     0.0   0.0
2     Elsa   9000        0.0       0.0      1.0     0.0   0.0
3  Gustavo   2000        0.0       1.0      0.0     0.0   0.0
4    Pedro   2100        1.0       0.0      0.0     0.0   0.0
5     Raúl  12000        0.0       1.0      0.0     0.0   0.0
6   Carlos   5000        0.0       0.0      0.0     1.0   0.0
7     José  10000        0.0       0.0      0.0     0.0   1.0
8     Luis    200        0.0       0.0      0.0     0.0   1.0

In [5]:
#Guardar
df.to_excel('Datos.xlsx', index=False)