<p><img alt="Colaboratory logo" height="140px" src="https://upload.wikimedia.org/wikipedia/commons/archive/f/fb/20161010213812%21Escudo-UdeA.svg" align="left" hspace="10px" vspace="0px"></p>

# **Análisis de Datos y Machine Learning en Python 1**

Juan Camilo Zapata Ceballos   
Facultad de Ciencias Exactas y Naturales   
Universidad de Antioquia   
2023

# **Ejercicios Resueltos**

## <font color='green'>**Ejercicio 1** </font>

Con el siguiente conjunto de datos cree una serie, tal que:

&emsp; $datos = [1,2,3,4,5]$   
&emsp; $indices = [$'$a$'$,\ $'$b$'$,\ $'$c$'$,\ $'$d$'$,\ $'$e$'$]$

1. Tenga como valores la lista $datos$.
2. Tenga como índices la lista $indices$.
3. Tenga como nombre la cadena '$N\text{ú}meros$'.

In [ ]:
import pandas as pd

In [ ]:
#Datos
datos = [1,2,3,4,5]
indices = ['a','b','c','d','e']
pd.Series(data=datos, index=indices, name='Números')

a    1
b    2
c    3
d    4
e    5
Name: Números, dtype: int64

## <font color='green'>**Ejercicio 2** </font>

Para la siguiente lista de nombres, efectúe:

&emsp; $nombres = [$'$juan$'$,\ $'$pedro$'$,\ $'$andrea$'$,\ $'$carolina$'$]$  

1. Cree una serie cuyo nombre sea '$Alumnos$'.
2. Ponga en mayúscula las primeras letras.
3. Ordene según el alfabeto.


***Ayuda 1:*** Puede que le sea útil el método $str.title$.    
***Ayuda 2:*** Puede que le sean útiles los métodos $apply$ y $sort\_values$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
nombres = ['juan','pedro','andrea','carolina']
s = pd.Series(data=nombres, name='Alumnos')

In [ ]:
#Modificaciones
s = s.apply(str.title)
s.sort_values(ascending=True, inplace=True)
s

2      Andrea
3    Carolina
0        Juan
1       Pedro
Name: Alumnos, dtype: object

## <font color='green'>**Ejercicio 3** </font>

Lleve a cabo el ejercicio resuelto 9.14 usando series e implemente los atributos $loc$ e $iloc$ para la indexación.

In [ ]:
import pandas as pd

In [ ]:
#Datos
datos = [0,1,2,3,4,5]
indices = ['a','b','c','d','e','f']

In [ ]:
#Loc
s = pd.Series(data=datos, index=indices)
s.loc['a'::2] *= -1
s.loc['b'::2] **= 2
s

a     0
b     1
c    -2
d     9
e    -4
f    25
dtype: int64

In [ ]:
#ILoc
s = pd.Series(data=datos, index=indices)
s.iloc[0::2] *= -1
s.iloc[1::2] **= 2
s

a     0
b     1
c    -2
d     9
e    -4
f    25
dtype: int64

## <font color='green'>**Ejercicio 4** </font>

Lleve a cabo el ejercicio propuesto 9.33 usando series.

In [ ]:
import pandas as pd

In [ ]:
#Datos
s = pd.Series(data=[-1,2,3,-4,-5,-6,7,-8,9])

In [ ]:
#Filtrado
cond_1 = s<0
cond_2 = s%2==0
cond_3 = s%4==0
cond_4 = (cond_1) & (cond_2) & (cond_3)

s[cond_4]

3   -4
7   -8
dtype: int64

## <font color='green'>**Ejercicio 5** </font>

¿Cuáles son las diferencias entre los archivos csv, xlsx y html?

1. **CSV:** Es un archivo de texto plano que separa los valores con comas.
2. **XLSX:** Es un archivo binario que almacena datos estructurado, que es capaz de leer Excel o similares.
3. **HTML:** Es un archivo de texto plano que contiene el lenguaje de marcado de hipertexto que formatea la estructura de una página web.

## <font color='green'>**Ejercicio 6** </font>

Cargue el archivo *ParticipacionesMundiales.xlsx* y responda:

1. ¿Cuántas filas tiene la base de datos?
2. ¿Cuántas columnas tiene la base de datos?
3. ¿Cuáles son los tipos de datos?

***Ayuda 1:*** El archivo se encuentra en la carpeta *Datos/Pandas*.    
***Ayuda 2:*** Puede que le sea útil el método $info$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('ParticipacionesMundiales.xlsx', sheet_name='Resultados')

In [ ]:
#Información
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Selección      20 non-null     object
 1   Títulos        20 non-null     int64
 2   Finales        20 non-null     int64
 3   Semifinales    20 non-null     int64
 4   Cuartos        20 non-null     int64
 5   Octavos        20 non-null     int64
 6   Primera Ronda  20 non-null     int64
 7   Confederación  20 non-null     object
dtypes: int64(6), object(2)
memory usage: 1.4+ KB

1. Tiene 20 filas. Véase el parámetro $RangeIndex$.
2. Tiene 8 columnas. Véase el parámetro $Data Columns$.
3. Los tipos de datos son *object* (cadenas de caracteres) e *int64* (enteros de 64bits). Hay dos columnas con *object* y seis con *int64*.

## <font color='green'>**Ejercicio 7** </font>

A partir de la base de datos del ejercicio resuelto 11.6, ¿cuáles son las columnas que ocupan más espacio y por qué?

***Ayuda:*** Puede que le sea útil el método $memory\_usage$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('ParticipacionesMundiales.xlsx')

In [ ]:
#Información
df.memory_usage(deep=True)

Index             128
Selección        1800
Títulos           160
Finales           160
Semifinales       160
Cuartos           160
Octavos           160
Primera Ronda     160
Confederación    1236
dtype: int64

Las columnas **Selección** y **Confederación**. Esto se debe a que en dicho espacio se almacenan cadenas de caracteres.

## <font color='green'>**Ejercicio 8** </font>

Cargue el archivo *Competencia.xlsx* y efectúe:

1. Cree un dataframe con esta base de datos.
2. Cambie los índices a las letras del alfabeto.
3. Seleccione las primeras tres filas.
4. Seleccione las columnas $Nombre$ y $Puntaje$.
5. Seleccione las filas $2$, $4$ y $7$ y las columnas $Puntaje$ y $Aprueba$.
6. Agregue una nueva columna con la etiqueta $Primer \ Intento$ y rellene con la palabra $No$.
7. Agregue una nueva fila con etiqueta $j$ con los valores que desee para cada columna.
8. Elimine la fila $c$.
9. Ordene el dataframe por la columna $Puntaje$ de mayor a menor y luego por la columna $Intentos$ de menor a mayor.
10. Reemplace los valores de la columna $Aprueba$ que contiene los valores $Yes$ y $Not$, por los valores $S\text{í}$ y $No$.
11. Filtre los datos donde el número de $Intentos$ sea mayor que $2$.
12. Filtre los datos donde el $Puntaje$ se encuentre entre $15$ y $20$.
13. Filtre los datos donde el número de $Intentos$ sea igual a $2$ y cuyo $Puntaje$ sea menor o igual a $10$.
14. Filtre los datos que tengan como nombres a Ana, Laura y Kevin.
15. Cambie los valores a $S\text{í}$ en $Primer \ Intento$ de así serlo.

***Ayuda 1:*** El archivo se encuentra en la carpeta *Datos/Pandas*.    
***Ayuda 2:*** Puede que le sean útiles los atributos $index$, $loc$ e $iloc$.   
***Ayuda 3:*** Para crear una fila/columna, indexe como si existiera.         
***Ayuda 4:*** Puede que le sean útiles los métodos $drop$ y $sort\_values$.  
***Ayuda 5:*** Puede que le sean útiles los métodos $between$ y $isin$.

In [ ]:
import pandas as pd

In [ ]:
#Pregunta 1 y 2
df = pd.read_excel('Competencia.xlsx', sheet_name='Resultados')
df.index = ['a','b','c','d','e','f','g','h','i']
df

     Nombre  Puntaje  Intentos Aprueba
a       Ana     12.5         1     Yes
b     Doris      9.0         3     Not
c  Katerine     16.5         2     Yes
d     James     10.0         3     Not
e     Emily      9.0         2     Not
f   Michael     20.0         3     Yes
g     Mateo     14.5         1     Yes
h     Laura     12.0         1     Not
i     Kevin      8.0         2     Not

In [ ]:
#Pregunta 3
df.loc['a':'c', :]

     Nombre  Puntaje  Intentos Aprueba
a       Ana     12.5         1     Yes
b     Doris      9.0         3     Not
c  Katerine     16.5         2     Yes

In [ ]:
#Pregunta 4
df.loc[:, ['Nombre','Puntaje']]

     Nombre  Puntaje
a       Ana     12.5
b     Doris      9.0
c  Katerine     16.5
d     James     10.0
e     Emily      9.0
f   Michael     20.0
g     Mateo     14.5
h     Laura     12.0
i     Kevin      8.0

In [ ]:
#Pregunta 5
df.iloc[[2,4,7], [1,3]]

   Puntaje Aprueba
c     16.5     Yes
e      9.0     Not
h     12.0     Not

In [ ]:
#Pregunta 6-8
df.loc[:, 'Primer Intento'] = 'No'
df.loc['j', :] = ['Camilo', 14.8, 2, 'Yes', 'No']
df.drop(index='c', inplace=True)
df

    Nombre  Puntaje  Intentos Aprueba Primer Intento
a      Ana     12.5       1.0     Yes             No
b    Doris      9.0       3.0     Not             No
d    James     10.0       3.0     Not             No
e    Emily      9.0       2.0     Not             No
f  Michael     20.0       3.0     Yes             No
g    Mateo     14.5       1.0     Yes             No
h    Laura     12.0       1.0     Not             No
i    Kevin      8.0       2.0     Not             No
j   Camilo     14.8       2.0     Yes             No

In [ ]:
#Pregunta 9
df.sort_values(by='Puntaje', ascending=False, inplace=True)
df.sort_values(by='Intentos', ascending=True, inplace=True)
df

    Nombre  Puntaje  Intentos Aprueba Primer Intento
g    Mateo     14.5       1.0     Yes             No
a      Ana     12.5       1.0     Yes             No
h    Laura     12.0       1.0     Not             No
j   Camilo     14.8       2.0     Yes             No
e    Emily      9.0       2.0     Not             No
i    Kevin      8.0       2.0     Not             No
f  Michael     20.0       3.0     Yes             No
d    James     10.0       3.0     Not             No
b    Doris      9.0       3.0     Not             No

In [ ]:
#Pregunta 10
cond = df.loc[:, 'Aprueba']=='Yes'
df.loc[cond, 'Aprueba'] = 'Sí'
df.loc[~cond, 'Aprueba'] = 'No'
df

    Nombre  Puntaje  Intentos Aprueba Primer Intento
g    Mateo     14.5       1.0      Sí             No
a      Ana     12.5       1.0      Sí             No
h    Laura     12.0       1.0      No             No
j   Camilo     14.8       2.0      Sí             No
e    Emily      9.0       2.0      No             No
i    Kevin      8.0       2.0      No             No
f  Michael     20.0       3.0      Sí             No
d    James     10.0       3.0      No             No
b    Doris      9.0       3.0      No             No

In [ ]:
#Pregunta 11
cond = df.loc[:, 'Intentos']>2
df.loc[cond, :]

    Nombre  Puntaje  Intentos Aprueba Primer Intento
f  Michael     20.0       3.0      Sí             No
d    James     10.0       3.0      No             No
b    Doris      9.0       3.0      No             No

In [ ]:
#Pregunta 12
cond = df.loc[:, 'Puntaje'].between(15,20)
df.loc[cond, :]

    Nombre  Puntaje  Intentos Aprueba Primer Intento
f  Michael     20.0       3.0      Sí             No

In [ ]:
#Pregunta 13
cond = (df.loc[:, 'Intentos']==2) & (df.loc[:, 'Puntaje']<=10)
df.loc[cond, :]

  Nombre  Puntaje  Intentos Aprueba Primer Intento
e  Emily      9.0       2.0      No             No
i  Kevin      8.0       2.0      No             No

In [ ]:
#Pregunta 14
cond = df.loc[:, 'Nombre'].isin(['Ana','Laura','Kevin'])
df.loc[cond, :]

  Nombre  Puntaje  Intentos Aprueba Primer Intento
a    Ana     12.5       1.0      Sí             No
h  Laura     12.0       1.0      No             No
i  Kevin      8.0       2.0      No             No

In [ ]:
#Pregunta 15
cond = df.loc[:, 'Intentos']==1
df.loc[cond, 'Primer Intento'] = 'Sí'
df

    Nombre  Puntaje  Intentos Aprueba Primer Intento
g    Mateo     14.5       1.0      Sí             Sí
a      Ana     12.5       1.0      Sí             Sí
h    Laura     12.0       1.0      No             Sí
j   Camilo     14.8       2.0      Sí             No
e    Emily      9.0       2.0      No             No
i    Kevin      8.0       2.0      No             No
f  Michael     20.0       3.0      Sí             No
d    James     10.0       3.0      No             No
b    Doris      9.0       3.0      No             No

## <font color='green'>**Ejercicio 9** </font>

A partir del dataframe del ejercicio resuelto 11.8, efectúe:

1. Cree una tabla que contenga las cuatro primeras filas y las columnas $Nombre$, $Marcador$ e $Intentos$.
2. Cree otra tabla que contenga las filas desde la $c$ hasta la $f$ y las columnas $Nombre$ y $Aprueba$.
3. Haga una combinación completa de ambos dataframes con el método $merge$.
4. Cambie los valores numéricos que tienen la clausula $NaN$, por el promedio de los que sí tienen valor.
5. Cambie los valores alfabéticos que tienen la clausula $NaN$, por la palabra '$Not$'.

***Ayuda 1:*** Puede que le sea útil el argumento $how$ del método $merge$.         
***Ayuda 2:*** Puede que le sean útiles los métodos $isna$ y $mean$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('Competencia.xlsx', sheet_name='Resultados')
df.index = ['a','b','c','d','e','f','g','h','i']

In [ ]:
#Pregunta 1
df1 = df.loc['a':'d', 'Nombre':'Intentos']
df1

     Nombre  Puntaje  Intentos
a       Ana     12.5         1
b     Doris      9.0         3
c  Katerine     16.5         2
d     James     10.0         3

In [ ]:
#Pregunta 2
df2 = df.loc['c':'f', ['Nombre','Aprueba']]
df2

     Nombre Aprueba
c  Katerine     Yes
d     James     Not
e     Emily     Not
f   Michael     Yes

In [ ]:
#Pregunta 3
df3 = pd.merge(df1,df2, how='outer')
df3

     Nombre  Puntaje  Intentos Aprueba
0       Ana     12.5       1.0     NaN
1     Doris      9.0       3.0     NaN
2  Katerine     16.5       2.0     Yes
3     James     10.0       3.0     Not
4     Emily      NaN       NaN     Not
5   Michael      NaN       NaN     Yes

In [ ]:
#Pregunta 4
prom1 = df3.loc[:, 'Puntaje'].mean()
prom2 = df3.loc[:, 'Intentos'].mean()
cond1 = df3.loc[:, 'Puntaje'].isna()
cond2 = df3.loc[:, 'Intentos'].isna()

df3.loc[cond1, 'Puntaje'] = prom1
df3.loc[cond2, 'Intentos'] = prom2
df3

     Nombre  Puntaje  Intentos Aprueba
0       Ana     12.5      1.00     NaN
1     Doris      9.0      3.00     NaN
2  Katerine     16.5      2.00     Yes
3     James     10.0      3.00     Not
4     Emily     12.0      2.25     Not
5   Michael     12.0      2.25     Yes

In [ ]:
#Pregunta 5
cond3 = df3.loc[:, 'Aprueba'].isna()
df3.loc[cond3, 'Aprueba'] = 'Not'
df3

     Nombre  Puntaje  Intentos Aprueba
0       Ana     12.5      1.00     Not
1     Doris      9.0      3.00     Not
2  Katerine     16.5      2.00     Yes
3     James     10.0      3.00     Not
4     Emily     12.0      2.25     Not
5   Michael     12.0      2.25     Yes

## <font color='green'>**Ejercicio 10** </font>

Cargue el archivo *Trabajadores.xlsx* y efectúe:

1. Cree un dataframe con esta base de datos.
2. Quíteles las tildes a las palabras de la columna $Nombre$ y deje únicamente las primeras letras en mayúscula.
3. Ponga la primera letra de las palabras de la columna $Concepto$ en mayúscula.
4. Separe la tabla en diferentes dataframes, uno por cada nombre.
5. Guarde los dataframes en un achivo de Excel y por cada nombre cree una hoja, incluya la base de datos original.

***Ayuda 1:*** Puede que le sean útiles los métodos $str.title$ y $apply$.     
***Ayuda 2:*** Use los resultados de los ejercicios resueltos 8.6 y 11.2.      
***Ayuda 3:*** Puede que le sea útil el método $groupby$.
***Ayuda 3:*** Puede que le sea útil el método $get\_group$.   
***Ayuda 5:*** Puede que le sea útil el método $ExcelWriter$.    
***Ayuda 6:*** Puede que le sea útil el método $to\_excel$.

In [ ]:
import pandas as pd

In [ ]:
#Pregunta 1
df = pd.read_excel('Trabajadores.xlsx', sheet_name='Ventas')

In [ ]:
#Pregunta 2 y 3
def quitar_tildes(palabra):
    vocales = [['á','a'],['é','e'],['í','i'],['ó','o'],['ú','u']]
    for a,b in vocales:
        palabra = palabra.replace(a,b)
    return palabra

df.loc[:, 'Nombre'] = df.loc[:, 'Nombre'].apply(quitar_tildes)
df.loc[:, 'Nombre'] = df.loc[:, 'Nombre'].apply(str.title)
df.loc[:, 'Concepto']= df.loc[:, 'Concepto'].apply(str.title)
df

                Nombre Hora de Ingreso    Concepto  Cantidad
0  Analejandra Quiceno        08:40:00      Libros       254
1       Anlly Restrepo        08:45:00     Colores        10
2     Yeison Hernandez        09:05:00      Reglas        87
3       Anlly Restrepo        09:30:00  Sacapuntas       451
4     Yeison Hernandez        10:30:00  Borradores       285
5  Analejandra Quiceno        10:35:00  Marcadores      4852
6       Anlly Restrepo        11:55:00      Reglas       141
7       Anlly Restrepo        13:05:00   Cuadernos        17
8     Yeison Hernandez        14:00:00     Colores        68

In [ ]:
#Pregunta 4 y 5
nombres = set(df.loc[:, 'Nombre'])
archivo = pd.ExcelWriter('Ventas.xlsx')
df.to_excel(archivo, sheet_name='Ventas', index=False)
grupos = df.groupby('Nombre')

for nombre in nombres:
  df1 = grupos.get_group(nombre)
  df1.to_excel(archivo, sheet_name=nombre, index=False)

archivo.close()

# **Ejercicios Propuestos**

## <font color='green'>**Ejercicio 1** </font>

Enuncie dos formas para cambiar los índices dentro de una serie.

***Ayuda 1:*** Puede que le sea útil el atributo $index$.   
***Ayuda 2:*** Puede que le sea útil el método $rename$.

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Index
s.index = ['a','b','c','d','e']
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
#Rename
s.rename({'b':'bb'}, inplace=True)
s

a     1
bb    2
c     3
d     4
e     5
dtype: int64

1. Reasignado una lista sobre el atributo $index$.
2. Haciendo uso del método $rename$, el cual permite cambiar valores específicos implementado la técnica de mapeo $\{\text{í}ndice \ inicial, \text{í}ndice \ final\}$ (sirve para cualquier cantidad de índices, separe por comas).

## <font color='green'>**Ejercicio 2** </font>

Enuncie dos formas para cambiar los valores dentro de una serie.

***Ayuda 1:*** ¿Es útil el atributo $values$?  
***Ayuda 2:*** Puede que le sean útiles los métodos $update$ y $replace$.

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Update
s.update(s.values**2)
s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [ ]:
#Replace
s.replace({16:10}, inplace=True)
s

0     1
1     4
2     9
3    10
4    25
dtype: int64

1. Implementando el método $update$.
2. Haciendo uso del método $replace$, el cual permite cambiar valores específicos implementado la técnica de mapeo $\{valor \ inicial, valor \ final\}$ (sirve para cualquier cantidad de valores, separe por comas).

La reasignación de una lista sobre el atributo $values$ no es posible llevarla a cabo. Esto se debe a que Pandas evita que el usuario haga modificaciones no intencionales sobre los valores, por tanto, se usan métodos específicos para cambiarlos.

## <font color='green'>**Ejercicio 3** </font>

¿Cuál es la utilidad del argumento $inplace$ en los métodos de Pandas?

Con el argumento $inplace=True$, se le dice a Pandas que guarde las modificaciones que ha efectuado el método en cuestión. En caso de omitirlo o de tener como valor $False$, los cambios no se sobreescriben sobre la Serie (o DataFrame) en la que se está trabajando.

## <font color='green'>**Ejercicio 4** </font>

¿Cuál es la utilidad del argumento $ascending$ en los métodos $sort$?

Con $ascending=True$ los índices o valores se ordenan de mayor a menor. En caso de omisión de este argumento o con un valor de $False$ los índices o valores se ordenan de menor a mayor.

## <font color='green'>**Ejercicio 5** </font>

Multiplique por $2$ y sume más $1$ a los valores de la serie del ejercicio resuelto 11.1.

***Ayuda:*** Puede que le sea útil el método $apply$.

In [ ]:
import pandas as pd

In [ ]:
datos = [1,2,3,4,5]
def operacion(n): return 2*n+1

s = pd.Series(data=datos, index=indices)
s = s.apply(operacion)
s

a     3
b     5
c     7
d     9
e    11
dtype: int64

## <font color='green'>**Ejercicio 6** </font>

Multiplique por un número $a$ y sume otro número $b$ a los valores de la serie del ejercicio resuelto 11.1.

***Ayuda:*** Use el argumento $args$ del método $apply$.

In [ ]:
import pandas as pd

In [ ]:
datos = [1,2,3,4,5]
def operacion(n,a,b): return a*n+b

s = pd.Series(data=datos, index=indices)
s = s.apply(operacion, args=(2,1))
s

a     3
b     5
c     7
d     9
e    11
dtype: int64

## <font color='green'>**Ejercicio 7** </font>

Para la siguiente lista de apellidos, efectúe:

&emsp; $apellidos = [$'$p\text{é}rez$'$,\ $'$g\text{ó}mez$'$,\ $'$l\text{ó}pez$'$,\ $'$fern\text{á}ndez$'$]$  

1. Cree una serie cuyo nombre sea ´$Apellidos$´.
2. Ponga en mayúscula las primeras letras.
3. Quite las tildes de todas las cadenas de caracteres.
4. Ordene en contra del alfabeto.

***Ayuda:*** Use los resultados de los ejercicios resueltos 8.6 y 11.2.

In [ ]:
import pandas as pd

In [ ]:
def quitar_tildes(palabra):
    vocales = [['á','a'],['é','e'],['í','i'],['ó','o'],['ú','u']]
    for a,b in vocales:
        palabra = palabra.replace(a,b)
    return palabra

In [ ]:
apellidos = ['lópez','pérez','fernández','gómez']
s = pd.Series(data=apellidos, name='Apellidos')

s = s.apply(quitar_tildes)
s = s.apply(str.title)
s.sort_values(ascending=False, inplace=True)
s

1        Perez
0        Lopez
3        Gomez
2    Fernandez
Name: Apellidos, dtype: object

## <font color='green'>**Ejercicio 8** </font>

Con el diccionario alojado en el archivo *EP\_11\_8.txt*, efectúe:

1. Cree una serie con este conjunto de datos.
2. ¿Cuáles son los valores?
3. ¿Cuáles son los índices?
4. Organice la base de datos en orden alfabético.
5. Multiplíquelos por $2$ los valores sin sobreescribir.

Conociendo bien el funcionamiento del último punto. Si $30$ es el valor máximo de puntos que pueden obtener los estudiantes. Reemplace los valores númericos por su equivalemente en una escala de $0$ a $5$, es decir, si se tienen $15$ puntos (mitad de $30$), este estudiante sacaría una nota de $2.5$. Redondee la nota a un decimal.

***Ayuda 1:*** El archivo se encuentra en la carpeta *Datos/Pandas*.   
***Ayuda 2:***  Puede que le sea útil el método $round$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
alumnos = {'Eimmy Córdoba':20,
           'Carolina Castro':16,
           'Karol Salamanca':20,
           'Javier Jaramillo':17,
           'Óscar Vargas':23,
           'Lizeth Marulanda':20,
           'Laura Montoya':14,
           'Juan Mejía':0,
           'María Imbago':14,
           'Vanessa Pabón':30,
           'Alejandra Martínez':12,
           'Isabella Múnera':13,
           'Johany Quiceno':12,
           'Jaqueline Vélez':16,
           'Anna Paz':13,
           'Laura Bernal':13,
            'Juan Pineda':1}

In [ ]:
#Pregunta 1 y 4
estudiantes = pd.Series(alumnos)
estudiantes.sort_index(ascending=True, inplace=True)
estudiantes

Alejandra Martínez    12
Anna Paz              13
Carolina Castro       16
Eimmy Córdoba         20
Isabella Múnera       13
Jaqueline Vélez       16
Javier Jaramillo      17
Johany Quiceno        12
Juan Mejía             0
Juan Pineda            1
Karol Salamanca       20
Laura Bernal          13
Laura Montoya         14
Lizeth Marulanda      20
María Imbago          14
Vanessa Pabón         30
Óscar Vargas          23
dtype: int64

In [ ]:
#Pregunta 2
estudiantes.values

array([12, 13, 16, 20, 13, 16, 17, 12,  0,  1, 20, 13, 14, 20, 14, 30, 23])

In [ ]:
#Pregunta 3
list(estudiantes.index)

['Alejandra Martínez',
 'Anna Paz',
 'Carolina Castro',
 'Eimmy Córdoba',
 'Isabella Múnera',
 'Jaqueline Vélez',
 'Javier Jaramillo',
 'Johany Quiceno',
 'Juan Mejía',
 'Juan Pineda',
 'Karol Salamanca',
 'Laura Bernal',
 'Laura Montoya',
 'Lizeth Marulanda',
 'María Imbago',
 'Vanessa Pabón',
 'Óscar Vargas']

Los índices de esta Serie son los nombres de los estudiantes y los valores son el puntaje (valores numéricos del diccionario).

In [ ]:
#Pregunta 5
notas = estudiantes.values
estudiantes.replace(notas, notas*2)

Alejandra Martínez    24
Anna Paz              26
Carolina Castro       32
Eimmy Córdoba         40
Isabella Múnera       26
Jaqueline Vélez       32
Javier Jaramillo      34
Johany Quiceno        24
Juan Mejía             0
Juan Pineda            2
Karol Salamanca       40
Laura Bernal          26
Laura Montoya         28
Lizeth Marulanda      40
María Imbago          28
Vanessa Pabón         60
Óscar Vargas          46
dtype: int64

In [ ]:
estudiantes.replace(notas, 5*notas/30, inplace=True)
estudiantes.round(1)

Alejandra Martínez    2.0
Anna Paz              2.2
Carolina Castro       2.7
Eimmy Córdoba         3.3
Isabella Múnera       2.2
Jaqueline Vélez       2.7
Javier Jaramillo      2.8
Johany Quiceno        2.0
Juan Mejía            0.0
Juan Pineda           0.2
Karol Salamanca       3.3
Laura Bernal          2.2
Laura Montoya         2.3
Lizeth Marulanda      3.3
María Imbago          2.3
Vanessa Pabón         5.0
Óscar Vargas          3.8
dtype: float64

## <font color='green'>**Ejercicio 9** </font>

¿Qué es un índice explícito y uno implícito?

1. **Explícito:** Es aquel que se muestra en la Serie (o DataFrame). Es el nombre que se le ha dado en la construcción de la estructura de datos.
2. **Implícito:** Es aquel que no se muestra en la Serie (o DataFrame) y que viene por defecto en la construcción de la estructura de datos. Como éstas trabajan bajo NumPy el primer índice implícito es el de un Arreglo, es decir, cero.

## <font color='green'>**Ejercicio 10** </font>

¿Cuál es la diferencia entre los atributos $loc$ e $iloc$?

1. **Loc:** Este atributo permite indexar y segmentar usando índices explícitos.
2. **Iloc** Este atributo permite indexar y segmentar usando índices implícitos.

## <font color='green'>**Ejercicio 11** </font>

Lleve a cabo el ejercicio resuelto 9.16 usando series.

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(data=[-1,2,3,-4,-5,-6,7,-8,9])
cond_1 = s>=0
cond_2 = s%2==0
cond_3 = (s<0) & (s%2!=0)

print(f'Positivos: \n{s[cond_1]}\n')
print(f'Pares: \n{s[cond_2]}\n')
print(f'Negativos e Impares: \n{s[cond_3]}')

Positivos:
1    2
2    3
6    7
8    9
dtype: int64

Pares:
1    2
3   -4
5   -6
7   -8
dtype: int64

Negativos e Impares:
0   -1
4   -5
dtype: int64

## <font color='green'>**Ejercicio 12** </font>

Lleve a cabo el ejercicio resuelto 9.17 usando series.

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(data=['maria','ana','camilo','sara','javier'])
cond_1 = s.str.startswith('c')
cond_2 = s<'m'
cond_3 = (s>='c') & (s<='m')

print(f'Comienzan por C: \n{s[cond_1]}\n')
print(f'Anteriores a la M: \n{s[cond_2]}\n')
print(f'Entre C y M: \n{s[cond_3]}')

Comienzan por C:
2    camilo
dtype: object

Anteriores a la M:
1       ana
2    camilo
4    javier
dtype: object

Entre C y M:
2    camilo
4    javier
dtype: object

## <font color='green'>**Ejercicio 13** </font>

¿Cuáles son las diferencias entre una serie y un diccionario?

Una serie de Pandas es un diccionario de Python Nativo más rápido y eficiente. Una serie trabaja bajo NumPy, por ende, pueden llevarse a cabo operaciones matemática a gran velocidad. Finalmente, una serie se puede segmentar, lo cual no es posible con un diccionario.

## <font color='green'>**Ejercicio 14** </font>

¿Cuál es la diferencia entre un archivo de texto plano y uno binario?

1. **Texto Plano:** Contiene únicamente datos de texto.
2. **Binario:** Contiene secuencias de Bytes, que pueden ser múltiples tipos de datos en el mismo archivo como audio, imágenes, video, entre otros, que luego son interpretados por otros programas.

## <font color='green'>**Ejercicio 15** </font>

¿Para qué sirve el parámetro $match$ del método $read\_html$?

El parámetro $match$ sirve para seleccionar la tabla donde aparezca un texto o una cadena de caracteres en específico.

## <font color='green'>**Ejercicio 16** </font>

A partir del archivo *ParticipacionesMundiales.xlsx*, responda:

1. ¿Cuál es la mayor cantidad de finales ganadas?
2. ¿Cuál es la mayor cantidad de finales disputadas?
3. ¿Cuál es la menor cantidad de participaciones?
4. ¿Cuáles son los tres mejores equipos?
5. ¿Cuáles son los tres peores equipos?

***Ayuda 1:*** El archivo se encuentra en la carpeta *Datos/Pandas*.  
***Ayuda 2:*** Puede que le sea útil el método $describe$.   
***Ayuda 3:*** Puede que le sean útiles los métodos $head$ y $tail$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('ParticipacionesMundiales.xlsx', sheet_name='Resultados')

In [ ]:
#Pregunta 1-3
df.describe()

         Títulos    Finales  Semifinales   Cuartos    Octavos  Primera Ronda
count  20.000000  20.000000    20.000000  20.00000  20.000000      20.000000
mean    1.100000   2.200000     4.150000   6.85000   8.800000      12.800000
std     1.651156   2.607681     3.344674   4.33195   4.514305       4.572227
min     0.000000   0.000000     1.000000   2.00000   3.000000       6.000000
25%     0.000000   0.000000     2.000000   3.00000   5.000000       9.000000
50%     0.000000   1.000000     2.500000   6.00000   8.500000      12.000000
75%     2.000000   3.250000     5.250000   9.00000  10.250000      16.000000
max     5.000000   8.000000    13.000000  17.00000  19.000000      22.000000

In [ ]:
#Pregunta 4
df.head(3)

,Selección,Títulos,Finales,Semifinales,Cuartos,Octavos,Primera Ronda,Confederación
0,Brasil,5,7,11,17,19,22,Conmebol
1,Alemania,4,8,13,17,18,20,UEFA
2,Italia,4,6,8,9,11,18,UEFA

In [ ]:
#Pregunta 5
df.tail(3)

,Selección,Títulos,Finales,Semifinales,Cuartos,Octavos,Primera Ronda,Confederación
17,Austria,0,0,2,3,4,6,UEFA
18,Rusia,0,0,1,5,7,11,UEFA
19,Estados Unidos,0,0,1,2,5,10,Concacaf

1. 5 finales ganadas. Fila **max** con columna **Títulos**.
2. 8 finales disputadas. Fila **max** con columna **Finales**.
3. 6 es la cantidad más pequeña de participaciones. Fila **min** con columna **Primera Ronda**.
4. Brasil. Alemania e Italia.
5. Austria, Rusia y Estados Unidos.

## <font color='green'>**Ejercicio 17** </font>

Cargue el archivo *FinalesMundiales.xlsx* y responda:

1. ¿Cuáles fueron los ganadores de los tres primeros mundiales?
2. ¿Cuáles fueron los ganadores de los tres últimos mundiales?
3. ¿Cuál es el equipo más veces campeón y cuántas veces?
4. ¿Cuál es el equipo más veces subcampeón y cuántas veces?
5. ¿Cuál es la ciudad con más finales y cuántas albergó?
6. ¿Cuál es el resultado que más se repite?
7. ¿Cuántos equipos han salido campeones?
8. ¿Cuántos equipos han salido subcampeones?
9. ¿En cuántas ciudades diferentes se han jugado las finales?

***Ayuda:*** El archivo se encuentra en la carpeta *Datos/Pandas*.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('FinalesMundiales.xlsx', sheet_name='Finales')

In [ ]:
#Pregunta 1
df.head(3)

        Fecha  Campeón  Resultado      Subcampeón Espectadores Localización
0  30-07-1930  Uruguay        4:2       Argentina        68346   Montevideo
1  10-06-1934   Italia  2:1 (pr.)  Checoslovaquia        50000         Roma
2  19-06-1938   Italia        4:2         Hungría        45124     Colombes

In [ ]:
#Pregunta 2
df.tail(3)

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
19,13-07-2014,Alemania,1:0 (pr.),Argentina,74738,Río de Janeiro
20,15-07-2018,Francia,4:2,Croacia,78011,Moscú
21,18-12-2022,Argentina,3:3 (4:2 pen.),Francia,88966,Lusail

In [ ]:
#Pregunta 3-9
df.describe()

             Fecha Campeón Resultado Subcampeón  Espectadores    Localización
count           22      22        22         22            22              22
unique          22       9        16         11            22              19
top     30-07-1930  Brasil       4:2  Argentina         68346  Río de Janeiro
freq             1       5         3          3             1               2

1. Uruguay (1930), Italia (1934) e Italia (1938).
2. Alemania (2014), Francia (2018) y Argentina (2055).
3. Brasil con 5 campeonatos. Filas **top** y **freq** con columna **Campeón**.
4. Argentina con 2 subcampeonatos. Filas **top** y **freq** con columna **Subcampeón**.
5. Río de Janeiro con 2 finales.  Filas **top** y **freq** con columna **Localización**.
6. 4:2, se repite 3 veces. Filas **top** y **freq** con columna **Resultado**.
7. 9 equipos han salido campeones. Fila **unique** con columna **Campeón**.
8. 11 equipos han salido subcampeones. Fila **unique** con columna **Subcampeón**.
9. En 19 ciudades diferentes se ha jugado la final. Fila **unique** con columna **Localización**.

## <font color='green'>**Ejercicio 18** </font>

A partir del ejercicio propuesto 11.16, efectúe y responda:

1. Filtre aquellos equipos que tengan entre $1$ y $3$ campeonatos.
2. Filtre aquellos equipos que han pasado a más de $15$ mundiales y juegan en Europa (son de la $UEFA$).
3. ¿Cuáles son los equipos que han perdido $2$ o más finales?
4. ¿Cuáles son los equipos que han jugado finales pero no han quedado campeones?

***Ayuda:*** Puede que le sea útil el método $between$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('ParticipacionesMundiales.xlsx', sheet_name='Resultados')
df.head(5)

,Selección,Títulos,Finales,Semifinales,Cuartos,Octavos,Primera Ronda,Confederación
0,Brasil,5.0,7.0,11.0,17.0,19.0,22.0,Conmebol
1,Alemania,4.0,8.0,13.0,17.0,18.0,20.0,UEFA
2,Italia,4.0,6.0,8.0,9.0,11.0,18.0,UEFA
3,Argentina,3.0,6.0,6.0,11.0,14.0,18.0,Conmebol
4,Francia,2.0,4.0,7.0,9.0,10.0,16.0,UEFA

In [ ]:
#Pregunta 1
cond = df.loc[:, 'Títulos'].between(1,3)
df.loc[cond, :]

,Selección,Títulos,Finales,Semifinales,Cuartos,Octavos,Primera Ronda,Confederación
3,Argentina,3.0,6.0,6.0,11.0,14.0,18.0,Conmebol
4,Francia,2.0,4.0,7.0,9.0,10.0,16.0,UEFA
5,Uruguay,2.0,2.0,5.0,7.0,10.0,14.0,Conmebol
6,Inglaterra,1.0,1.0,3.0,10.0,13.0,16.0,UEFA
7,España,1.0,1.0,2.0,6.0,10.0,16.0,UEFA

In [ ]:
#Pregunta 2
cond = (df.loc[:, 'Primera Ronda']>=15) & (df.loc[:, 'Confederación']=='UEFA')
df.loc[cond, :]

,Selección,Títulos,Finales,Semifinales,Cuartos,Octavos,Primera Ronda,Confederación
1,Alemania,4.0,8.0,13.0,17.0,18.0,20.0,UEFA
2,Italia,4.0,6.0,8.0,9.0,11.0,18.0,UEFA
4,Francia,2.0,4.0,7.0,9.0,10.0,16.0,UEFA
6,Inglaterra,1.0,1.0,3.0,10.0,13.0,16.0,UEFA
7,España,1.0,1.0,2.0,6.0,10.0,16.0,UEFA

In [ ]:
#Pregunta 3
df.loc[:, 'Diferencia TF'] = abs(df.loc[:, 'Títulos'] - df.loc[:, 'Finales'])
cond = df.loc[:, 'Diferencia TF']>=2
df.loc[cond, 'Selección':'Finales']

           Selección  Títulos  Finales
0             Brasil      5.0      7.0
1           Alemania      4.0      8.0
2             Italia      4.0      6.0
3          Argentina      3.0      6.0
4            Francia      2.0      4.0
8       Países Bajos      0.0      3.0
9            Hungría      0.0      2.0
10   República Checa      0.0      2.0

In [ ]:
#Pregunta 4
cond = (df.loc[:, 'Títulos']==0) & (df.loc[:, 'Finales']>0)
df.loc[cond, 'Selección':'Finales']

           Selección  Títulos  Finales
8       Países Bajos      0.0      3.0
9            Hungría      0.0      2.0
10   República Checa      0.0      2.0
11            Suecia      0.0      1.0
12           Croacia      0.0      1.0

## <font color='green'>**Ejercicio 19** </font>

A partir del ejercicio propuesto 11.17, efectúe y responda:

1. Filtre aquellas finales cuyo año termina en $0$.
2. Muestre aquellas finales que ha jugado $Alemania$.
3. ¿Cuál es el equipo más veces campeón?
4. ¿Cuál es el equipo más veces subcampeón?
5. ¿En cuáles  partidos hubo más de $90000$ espectadores?

***Ayuda 1:*** Puede que le sea útil el método $str.endswith$.   
***Ayuda 2:*** Puede que le sean útiles los métodos $isin$ y $value\_counts$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('FinalesMundiales.xlsx', sheet_name='Finales')
df.head(5)

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
0,30-07-1930,Uruguay,4:2,Argentina,68346,Montevideo
1,10-06-1934,Italia,2:1 (pr.),Checoslovaquia,50000,Roma
2,19-06-1938,Italia,4:2,Hungría,45124,Colombes
3,16-07-1950,Uruguay,2:1,Brasil,199150,Río de Janeiro
4,04-07-1954,Alemania Federal,3:2,Hungría,60000,Berna

In [ ]:
#Pregunta 1
cond = df.loc[:, 'Fecha'].str.endswith('0')
df.loc[cond, :]

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
0,30-07-1930,Uruguay,4:2,Argentina,68346,Montevideo
3,16-07-1950,Uruguay,2:1,Brasil,199150,Río de Janeiro
8,21-06-1970,Brasil,4:1,Italia,107412,Ciudad de México
13,08-07-1990,Alemania Federal,1:0,Argentina,73603,Roma
18,11-07-2010,España,1:0 (pr.),Países Bajos,84490,Johannesburgo

In [ ]:
#Pregunta 2
cond = (df.loc[:, 'Campeón'].isin(['Alemania','Alemania Federal'])) | (df.loc[:, 'Subcampeón'].isin(['Alemania','Alemania Federal']))
df.loc[cond, :]

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
4,04-07-1954,Alemania Federal,3:2,Hungría,60000,Berna
7,30-07-1966,Inglaterra,4:2 (pr.),Alemania Federal,97924,Londres
9,07-07-1974,Alemania Federal,2:1,Países Bajos,75200,Múnich
11,11-07-1982,Italia,3:1,Alemania Federal,90000,Madrid
12,29-06-1986,Argentina,3:2,Alemania Federal,114600,Ciudad de México
13,08-07-1990,Alemania Federal,1:0,Argentina,73603,Roma
16,30-06-2002,Brasil,2:0,Alemania,69029,Yokohama
19,13-07-2014,Alemania,1:0 (pr.),Argentina,74738,Río de Janeiro

In [ ]:
#Pregunta 3
contar = df.loc[:, 'Campeón'].value_counts()
cond = df.loc[:, 'Campeón']==contar.index[0]
df.loc[cond, :]

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
5,29-06-1958,Brasil,5:2,Suecia,51800,Solna
6,17-06-1962,Brasil,3:1,Checoslovaquia,68679,Santiago de Chile
8,21-06-1970,Brasil,4:1,Italia,107412,Ciudad de México
14,17-07-1994,Brasil,0:0 (3:2 pen.),Italia,94194,Pasadena
16,30-06-2002,Brasil,2:0,Alemania,69029,Yokohama

In [ ]:
#Pregunta 4
contar = df.loc[:, 'Subcampeón'].value_counts()
cond = df.loc[:, 'Subcampeón']==contar.index[0]
df.loc[cond, :]

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
0,30-07-1930,Uruguay,4:2,Argentina,68346,Montevideo
13,08-07-1990,Alemania Federal,1:0,Argentina,73603,Roma
19,13-07-2014,Alemania,1:0 (pr.),Argentina,74738,Río de Janeiro

In [ ]:
#Pregunta 5
cond = df.loc[:, 'Espectadores']>90000
df.loc[cond, :]

,Fecha,Campeón,Resultado,Subcampeón,Espectadores,Localización
3,16-07-1950,Uruguay,2:1,Brasil,199150,Río de Janeiro
7,30-07-1966,Inglaterra,4:2 (pr.),Alemania Federal,97924,Londres
8,21-06-1970,Brasil,4:1,Italia,107412,Ciudad de México
12,29-06-1986,Argentina,3:2,Alemania Federal,114600,Ciudad de México
14,17-07-1994,Brasil,0:0 (3:2 pen.),Italia,94194,Pasadena

## <font color='green'>**Ejercicio 20** </font>

Con el diccionario del ejecicio propuesto 11.8, efectúe:

1. Adicione a cada estudiante un correo electrónico, en minúscula y sin tildes, con la forma $nombre.apellido@udea.edu.co$.
2. Agregue, luego del correo, la palabra '$SÍ$'.
3. Cree un dataframe con este conjunto de datos, tal que, sus columnas estén nombradas como: $Puntaje$, $Correo$ y $Aprob\text{ó}$, y los índices deben ser los nombres organizados en orden alfabético.
4. Ponga los nombres de los estudiantes en una columna llamada $Nombre$ y renombre los índices para tomar valores númericos, empezando desde $1$.
5. Agrege una columna llamada $Nota$, que contenga la nota de los estudiantes en una escala de $0$ a $5$. Tome como puntaje mínimo $0$ puntos y máximo $30$. Redondee a un decimal.
6. Cambie el estado de la columna $Aprob\text{ó}$ a $No$, si el estudiante tiene una nota menor a $3.0$.
7. Organice las columnas del dataframe en el orden: $Nombre$, $Correo$, $Puntaje$, $Nota$ y $Aprobó$.

***Ayuda 1:*** Use los resultado del ejercicio resuelto 8.6.  
***Ayuda 2:*** Puede que le sean útiles los atributos $index$ y $columns$.    
***Ayuda 3:*** Puede que le sea útil el método $sort\_index$.   
***Ayuda 4:*** Para crear una columna, indexe como si existiera.       
***Ayuda 5:*** Puede que le sea útil el método $reindex$. Consulte.

In [ ]:
import pandas as pd

In [ ]:
#Datos
alumnos = {'Eimmy Córdoba':20,
           'Carolina Castro':16,
           'Karol Salamanca':20,
           'Javier Jaramillo':17,
           'Óscar Vargas':23,
           'Lizeth Marulanda':20,
           'Laura Montoya':14,
           'Juan Mejía':0,
           'María Imbago':14,
           'Vanessa Pabón':30,
           'Alejandra Martínez':12,
           'Isabella Múnera':13,
           'Johany Quiceno':12,
           'Jaqueline Vélez':16,
           'Anna Paz':13,
           'Laura Bernal':13,
            'Juan Pineda':1}

In [ ]:
#Quitar Tildes
def quitar_tildes(palabra):
    vocales = [['á','a'],['é','e'],['í','i'],['ó','o'],['ú','u']]
    for a,b in vocales:
        palabra = palabra.replace(a,b)
    return palabra

In [ ]:
#Pregunta 1 y 2
for nombre in alumnos:
  correo = nombre.replace(' ','.').lower() + '@udea.edu.co'
  correo = quitar_tildes(correo)
  alumnos[nombre] = [alumnos[nombre], correo, 'SÍ']

alumnos

{'Eimmy Córdoba': [20, 'eimmy.cordoba@udea.edu.co', 'SÍ'],
 'Carolina Castro': [16, 'carolina.castro@udea.edu.co', 'SÍ'],
 'Karol Salamanca': [20, 'karol.salamanca@udea.edu.co', 'SÍ'],
 'Javier Jaramillo': [17, 'javier.jaramillo@udea.edu.co', 'SÍ'],
 'Óscar Vargas': [23, 'oscar.vargas@udea.edu.co', 'SÍ'],
 'Lizeth Marulanda': [20, 'lizeth.marulanda@udea.edu.co', 'SÍ'],
 'Laura Montoya': [14, 'laura.montoya@udea.edu.co', 'SÍ'],
 'Juan Mejía': [0, 'juan.mejia@udea.edu.co', 'SÍ'],
 'María Imbago': [14, 'maria.imbago@udea.edu.co', 'SÍ'],
 'Vanessa Pabón': [30, 'vanessa.pabon@udea.edu.co', 'SÍ'],
 'Alejandra Martínez': [12, 'alejandra.martinez@udea.edu.co', 'SÍ'],
 'Isabella Múnera': [13, 'isabella.munera@udea.edu.co', 'SÍ'],
 'Johany Quiceno': [12, 'johany.quiceno@udea.edu.co', 'SÍ'],
 'Jaqueline Vélez': [16, 'jaqueline.velez@udea.edu.co', 'SÍ'],
 'Anna Paz': [13, 'anna.paz@udea.edu.co', 'SÍ'],
 'Laura Bernal': [13, 'laura.bernal@udea.edu.co', 'SÍ'],
 'Juan Pineda': [1, 'juan.pineda@udea.edu.co', 'SÍ']}

In [ ]:
#Pregunta 3
df = pd.DataFrame(data=alumnos).T
df.columns = ['Puntaje','Correo','Aprobó']
df.sort_index(ascending=True, inplace=True)
df.head(5)

                   Puntaje                          Correo Aprobó
Alejandra Martínez      12  alejandra.martinez@udea.edu.co     SÍ
Anna Paz                13            anna.paz@udea.edu.co     SÍ
Carolina Castro         16     carolina.castro@udea.edu.co     SÍ
Eimmy Córdoba           20       eimmy.cordoba@udea.edu.co     SÍ
Isabella Múnera         13     isabella.munera@udea.edu.co     SÍ

In [ ]:
#Pregunta 4
df.loc[:, 'Nombre'] = df.index
df.index = range(1,len(df.index)+1)
df.head(5)

  Puntaje                          Correo Aprobó              Nombre
1      12  alejandra.martinez@udea.edu.co     SÍ  Alejandra Martínez
2      13            anna.paz@udea.edu.co     SÍ            Anna Paz
3      16     carolina.castro@udea.edu.co     SÍ     Carolina Castro
4      20       eimmy.cordoba@udea.edu.co     SÍ       Eimmy Córdoba
5      13     isabella.munera@udea.edu.co     SÍ     Isabella Múnera

In [ ]:
#Pregunta 5
df.loc[:, 'Nota'] = (df.loc[:,'Puntaje']*5/30).astype('float32')
df.loc[:, 'Nota'] = df.loc[:, 'Nota'].round(1)
df.head(5)

  Puntaje                          Correo Aprobó              Nombre  Nota
1      12  alejandra.martinez@udea.edu.co     SÍ  Alejandra Martínez   2.0
2      13            anna.paz@udea.edu.co     SÍ            Anna Paz   2.2
3      16     carolina.castro@udea.edu.co     SÍ     Carolina Castro   2.7
4      20       eimmy.cordoba@udea.edu.co     SÍ       Eimmy Córdoba   3.3
5      13     isabella.munera@udea.edu.co     SÍ     Isabella Múnera   2.2

In [ ]:
#Pregunta 6
cond = df.loc[:, 'Nota']<3.0
df.loc[cond, 'Aprobó'] = 'No'
df.head(5)

  Puntaje                          Correo Aprobó              Nombre  Nota
1      12  alejandra.martinez@udea.edu.co     No  Alejandra Martínez   2.0
2      13            anna.paz@udea.edu.co     No            Anna Paz   2.2
3      16     carolina.castro@udea.edu.co     No     Carolina Castro   2.7
4      20       eimmy.cordoba@udea.edu.co     SÍ       Eimmy Córdoba   3.3
5      13     isabella.munera@udea.edu.co     No     Isabella Múnera   2.2

In [ ]:
#Pregunta 7
df = df.reindex(columns=['Nombre','Correo','Puntaje','Nota','Aprobó'])
df.head(5)

               Nombre                          Correo Puntaje  Nota Aprobó
1  Alejandra Martínez  alejandra.martinez@udea.edu.co      12   2.0     No
2            Anna Paz            anna.paz@udea.edu.co      13   2.2     No
3     Carolina Castro     carolina.castro@udea.edu.co      16   2.7     No
4       Eimmy Córdoba       eimmy.cordoba@udea.edu.co      20   3.3     SÍ
5     Isabella Múnera     isabella.munera@udea.edu.co      13   2.2     No

## <font color='green'>**Ejercicio 21** </font>

Escriba una función para traducir a español, una lista con palabras.

***Ayuda:*** Use la librería googletrans. Consulte.

In [ ]:
!pip install googletrans==3.1.0a0

In [ ]:
from googletrans import Translator

In [ ]:
def traducir(lista):
  lista_traducida = []

  for palabra in lista:
    traductor = Translator()
    t = traductor.translate(palabra, src='en', dest='es')
    lista_traducida.append(t.text)

  return lista_traducida

traducir(['One', 'Two', 'Three', 'Fourth', 'Five'])

['Una', 'Dos', 'Tres', 'Cuatro', 'Cinco']

## <font color='green'>**Ejercicio 22** </font>

A partir del archivo *Libros.csv*, efectúe:

1. Cargue la base de datos y conviértala en un dataframe.
2. Traduzca el nombre de las columnas al español.
3. Cree una tabla con autores que tengan $3$ o más publicaciones.
4. Organice este nuevo dataframe en orden alfabético por $Autor$, $Nombre$ y por $A\text{ñ}o$ de menor a mayor.
5. Quédese con los libros por $Autor$ más actuales.  
6. Reinicie los índices para comenzar $0$.

***Ayuda 1:*** El archivo se encuentra en la carpeta *Datos/Pandas*.    
***Ayuda 2:*** Use los resultados del ejercicio propuesto 11.21.      
***Ayuda 3:*** Puede que le sea útil el método $sort\_values$.   
***Ayuda 4:*** Puede que le sea útil el método $drop\_duplicates$. Consulte.   
***Ayuda 5:*** Puede que le sea útil el método $reset\_index$. Consulte.

In [ ]:
import pandas as pd

In [ ]:
#Pregunta 1
df = pd.read_csv('Libros.csv')
df.head(3)

,Name,Author,Reviews,Price,Year,Genre
0,What Happened,Hillary Rodham Clinton,5492,18,2017,Non Fiction
1,The Help,Kathryn Stockett,13871,8,2011,Fiction
2,One Thousand Gifts: A Dare to Live Fully Right...,Ann Voskamp,3163,13,2012,Non Fiction

In [ ]:
#Pregunta 2
df.columns = traducir(df.columns)
df.head(3)

,Nombre,Autor,Reseñas,Precio,Año,Género
0,What Happened,Hillary Rodham Clinton,5492,18,2017,Non Fiction
1,The Help,Kathryn Stockett,13871,8,2011,Fiction
2,One Thousand Gifts: A Dare to Live Fully Right...,Ann Voskamp,3163,13,2012,Non Fiction

In [ ]:
#Pregunta 3
cantidad = df.loc[:, 'Autor'].value_counts()
cantidad

Dr. Seuss                             5
Rob Elliott                           4
American Psychological Association    3
Giles Andreae                         3
Daniel James Brown                    2
                                     ..
Fredrik Backman                       1
Kathryn Stockett                      1
Tara Westover                         1
Ta-Nehisi Coates                      1
Garth Stein                           1
Name: Autor, Length: 80, dtype: int64

In [ ]:
nombres = cantidad[cantidad>=3]
nombres

Dr. Seuss                             5
Rob Elliott                           4
American Psychological Association    3
Giles Andreae                         3
Name: Autor, dtype: int64

In [ ]:
cond = df.loc[:, 'Autor'].isin(nombres.index)
df3 = df.loc[cond, :]
df3

,Nombre,Autor,Reseñas,Precio,Año,Género
7,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2017,Non Fiction
11,Giraffes Can't Dance,Giles Andreae,14038,4,2017,Fiction
23,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2010,Non Fiction
27,Giraffes Can't Dance,Giles Andreae,14038,4,2016,Fiction
33,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2012,Non Fiction
35,Knock-Knock Jokes for Kids,Rob Elliott,3673,4,2013,Non Fiction
48,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2012,Fiction
54,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2018,Fiction
64,Knock-Knock Jokes for Kids,Rob Elliott,3673,4,2015,Non Fiction
65,Laugh-Out-Loud Jokes for Kids,Rob Elliott,6990,4,2016,Non Fiction
68,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2017,Fiction
72,Giraffes Can't Dance,Giles Andreae,14038,4,2019,Fiction
79,Laugh-Out-Loud Jokes for Kids,Rob Elliott,6990,4,2013,Non Fiction
85,What Pet Should I Get? (Classic Seuss),Dr. Seuss,1873,14,2015,Fiction
90,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2016,Fiction

1. Con el método $value\_counts()$, se cuenta cuantas veces se repite un determinado valor.
2. Se hace un filtrado para obtener únicamente los nombres de los autores que poseen tres o más publicaciones.
3. Con el método $isin()$ se hace un filtrado para traer la tabla que contiene a los autores deseados.

In [ ]:
#Pregunta 4
df3.sort_values(by=['Autor','Nombre','Año'], inplace=True)
df3

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Nombre,Autor,Reseñas,Precio,Año,Género
23,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2010,Non Fiction
33,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2012,Non Fiction
7,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2017,Non Fiction
48,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2012,Fiction
90,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2016,Fiction
68,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2017,Fiction
54,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2018,Fiction
85,What Pet Should I Get? (Classic Seuss),Dr. Seuss,1873,14,2015,Fiction
27,Giraffes Can't Dance,Giles Andreae,14038,4,2016,Fiction
11,Giraffes Can't Dance,Giles Andreae,14038,4,2017,Fiction
72,Giraffes Can't Dance,Giles Andreae,14038,4,2019,Fiction
35,Knock-Knock Jokes for Kids,Rob Elliott,3673,4,2013,Non Fiction
64,Knock-Knock Jokes for Kids,Rob Elliott,3673,4,2015,Non Fiction
79,Laugh-Out-Loud Jokes for Kids,Rob Elliott,6990,4,2013,Non Fiction
65,Laugh-Out-Loud Jokes for Kids,Rob Elliott,6990,4,2016,Non Fiction

In [ ]:
#Pregunta 5
df3.drop_duplicates(subset=['Nombre','Autor'], keep='last', inplace=True)
df3

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Nombre,Autor,Reseñas,Precio,Año,Género
7,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2017,Non Fiction
54,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2018,Fiction
85,What Pet Should I Get? (Classic Seuss),Dr. Seuss,1873,14,2015,Fiction
72,Giraffes Can't Dance,Giles Andreae,14038,4,2019,Fiction
64,Knock-Knock Jokes for Kids,Rob Elliott,3673,4,2015,Non Fiction
65,Laugh-Out-Loud Jokes for Kids,Rob Elliott,6990,4,2016,Non Fiction

1. Con el parámetro $subset=[$'$Nombre$'$,$'$Autor$'$]$, se buscan los dublicados tomando como referencia las columnas $Nombre$ y $Autor$.
2. Con el parámetro $keep=$'$last$', se le dice a Pandas que se quede con la última coincidencia y borre el resto.

In [ ]:
#Pregunta 6
df3.reset_index(drop=True, inplace=True)
df3

,Nombre,Autor,Reseñas,Precio,Año,Género
0,Publication Manual of the American Psychologic...,American Psychological Association,8580,46,2017,Non Fiction
1,"Oh, the Places You'll Go!",Dr. Seuss,21834,8,2018,Fiction
2,What Pet Should I Get? (Classic Seuss),Dr. Seuss,1873,14,2015,Fiction
3,Giraffes Can't Dance,Giles Andreae,14038,4,2019,Fiction
4,Knock-Knock Jokes for Kids,Rob Elliott,3673,4,2015,Non Fiction
5,Laugh-Out-Loud Jokes for Kids,Rob Elliott,6990,4,2016,Non Fiction

1. Con el parámetro $drop=True$, se evita que los índices antiguos pasen a ser una columna.

## <font color='green'>**Ejercicio 23** </font>

Guarde, en un mismo Excel, las bases de datos presentes en los archivos *FinalesMundiales.xlsx* y *ParticipacionesMundiales.xlsx*.

***Ayuda:*** Puede que le sean útiles los métodos $ExcelWriter$ y $to\_excel$.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df1 = pd.read_excel('FinalesMundiales.xlsx', sheet_name='Finales')
df2 = pd.read_excel('ParticipacionesMundiales.xlsx', sheet_name='Resultados')

In [ ]:
archivo = pd.ExcelWriter('Mundiales.xlsx')
df1.to_excel(archivo, sheet_name='Finales', index=False)
df2.to_excel(archivo, sheet_name='Participaciones', index=False)
archivo.close()

## <font color='green'>**Ejercicio 24** </font>

¿Cuál es el propósito del método $groupby$?

El método $groupby$ sirve para agrupar un dataframe por alguna columna, buscando crear subtablas que contegan valores comunes.

## <font color='green'>**Ejercicio 25** </font>

¿Cuál es la diferencia entre los métodos $concat$, $merge$ y $join$?

1. **Concat:** Sirve para unir dataframes, uno debajo de otro o al costado.
2. **Merge:** Sirve para combinar dataframes teniendo en cuenta las columnas.
3. **Join:** Sirve para combinar dataframes teniendo en cuenta las filas (índices).

## <font color='green'>**Ejercicio 26** </font>

¿Cuál es la diferencia entre una serie y un dataframe?

1. **Serie:** Es un arreglo unidimensional (1D) de datos indexados (diccionario), que puede pensarse como una columna de Excel.
2. **DataFrame:** Es un arreglo bidimensional (2D) de datos indexados (matriz), que quede pensarse como una tabla de Excel.

## <font color='green'>**Ejercicio 27** </font>

A partir del archivo *Ventas.xlsx*, del problema resuelto 11.10, efectúe:

1. Una las hojas usando el método $concat$.
2. Una las hojas usando el método $merge$.
3. Haga esto sin incluir la primera hoja.

In [ ]:
import pandas as pd

In [ ]:
#Pregunta 1 - Forma 1
df = pd.read_excel('Ventas.xlsx', sheet_name=None)
del df['Ventas']
df = pd.concat(df.values(), ignore_index=True)
df

                Nombre Hora de Ingreso    Concepto  Cantidad
0  Analejandra Quiceno        08:40:00      Libros       254
1  Analejandra Quiceno        10:35:00  Marcadores      4852
2     Yeison Hernandez        09:05:00      Reglas        87
3     Yeison Hernandez        10:30:00  Borradores       285
4     Yeison Hernandez        14:00:00     Colores        68
5       Anlly Restrepo        08:45:00     Colores        10
6       Anlly Restrepo        09:30:00  Sacapuntas       451
7       Anlly Restrepo        11:55:00      Reglas       141
8       Anlly Restrepo        13:05:00   Cuadernos        17

In [ ]:
#Pregunta 1 - Forma 2
nombres = ['Analejandra Quiceno', 'Yeison Hernandez', 'Anlly Restrepo']
df = []

for nombre in nombres:
  df.append(pd.read_excel('Ventas.xlsx', sheet_name=nombre))

df = pd.concat(df, axis=0, ignore_index=True)
df

                Nombre Hora de Ingreso    Concepto  Cantidad
0  Analejandra Quiceno        08:40:00      Libros       254
1  Analejandra Quiceno        10:35:00  Marcadores      4852
2     Yeison Hernandez        09:05:00      Reglas        87
3     Yeison Hernandez        10:30:00  Borradores       285
4     Yeison Hernandez        14:00:00     Colores        68
5       Anlly Restrepo        08:45:00     Colores        10
6       Anlly Restrepo        09:30:00  Sacapuntas       451
7       Anlly Restrepo        11:55:00      Reglas       141
8       Anlly Restrepo        13:05:00   Cuadernos        17

In [ ]:
#Pregunta 2
df1 = pd.read_excel('Ventas.xlsx', sheet_name='Analejandra Quiceno')
df2 = pd.read_excel('Ventas.xlsx', sheet_name='Yeison Hernandez')
df3 = pd.read_excel('Ventas.xlsx', sheet_name='Anlly Restrepo')
df = pd.merge(df1,df2, how='outer')
df = pd.merge(df,df3, how='outer')
df

                Nombre Hora de Ingreso    Concepto  Cantidad
0  Analejandra Quiceno        08:40:00      Libros       254
1  Analejandra Quiceno        10:35:00  Marcadores      4852
2     Yeison Hernandez        09:05:00      Reglas        87
3     Yeison Hernandez        10:30:00  Borradores       285
4     Yeison Hernandez        14:00:00     Colores        68
5       Anlly Restrepo        08:45:00     Colores        10
6       Anlly Restrepo        09:30:00  Sacapuntas       451
7       Anlly Restrepo        11:55:00      Reglas       141
8       Anlly Restrepo        13:05:00   Cuadernos        17

## <font color='green'>**Ejercicio 28** </font>

Separe por continente y guarde en varias hojas de Excel, el contenido la base de datos alojada en *Ciudades.xlsx*.

***Ayuda:*** Use los resultados del ejercicio resuelto 11.10.

In [ ]:
import pandas as pd

In [ ]:
#Datos
df = pd.read_excel('Ciudades.xlsx', sheet_name='Información')
df

         Ciudad           País     Continente  Población
0         Tokyo          Japan           Asia   37468000
1         Delhi          India           Asia   28514000
2      Shanghai          China           Asia   25582000
3     Sao Paulo         Brazil  South America   21650000
4   Mexico City         Mexico  North America   21581000
..          ...            ...            ...        ...
76   Washington  United States  North America    5207000
77       Yangon        Myanmar           Asia    5157000
78   Alexandria          Egypt         Africa    5086000
79        Jinan          China           Asia    5052000
80  Guadalajara         Mexico  North America    5023000

[81 rows x 4 columns]

In [ ]:
continentes = set(df.loc[:, 'Continente'])
archivo = pd.ExcelWriter('CiudadesContinente.xlsx')
grupos = df.groupby('Continente')

for continente in continentes:
  df1 = grupos.get_group(continente)
  df1.to_excel(archivo, sheet_name=continente, index=False)

archivo.close()